:root {
    /*Cores do Site*/
    --white: #E6E8F4;
    --blue: #00198E;
    --yellow: #FFDF2B;
    --orange: #FFC24B;
    --yellowSecondary: #FFF1A8;
    --bottonAccept: #A2F294;
    --bottonAcceptSecondary: #4F9552;
    --bottonRecuse: #F87D7D;
    --bottonRecuseSecondary: #AC3C3C;
}

/*AJUSTES GERAIS*/
.fundo {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 1rem black;
    margin: 5rem;
    margin-top: 3rem;
    padding: 3rem;
    padding-top: 0;
    background-color: white;
    border: 3px solid black;
    display: flex;
    height: 25rem;
    width: 70rem;
}

div.coluna {
    width: 20rem;
    row-gap: 5rem;
}

.campo {
    padding-top: 3rem;
}

label {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-decoration: dashed;
}

input {
    padding-left: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 1rem;
    border-radius: 1rem;
    height: 1.4rem;
    width: 14rem;
    font-family: "Inter", sans-serif;
}

select {
    padding-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 1rem;
    border-radius: 1rem;
    height: 1.8rem;
    width: 10rem;
    font-family: "Inter", sans-serif;
}

option {
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 1rem;
    border-radius: 1rem;
    height: 1.4rem;
    width: 10rem;
    font-family: "Inter", sans-serif;
}

/*INPUT*/
.dia {
    width: 13rem;
}

.modalidade {
    width: 14rem;
}

.horario {
    width: 8rem;
}

textarea {
    padding-left: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 1rem;
    border-radius: 0.3rem;
    height: 10rem;
    width: 20rem;
    font-family: "Inter", sans-serif;
    resize: none;
   
}

/*BOTÃO*/
button.botao {
    position:relative;
    height: 2rem;
    width: 10rem;
    border-radius: 2rem;
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    border: 0;
    cursor: pointer;
    bottom: -24rem;
    margin-left: 5rem;
}

button.botao:hover {
    box-shadow: 0.1rem 0.1rem 1rem black;
    font-weight: 700;
}

/*Formulário de deletar vários itens*/
.formDestroyMany {
    border-radius: 0rem;
    box-shadow: 0rem 0rem 0rem black;
    margin: 0rem;
    margin-top: 3rem;
    padding: 0rem;
    padding-top: 0rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    border: 0rem;
}

.divFormDestroyMany {
    display: grid;
    justify-content: center;
    align-items: center;
}

.botaoDestroyMany {
    height: 5rem;
    width: 10rem;
    border-radius: 2rem;
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    border: 0;
    cursor: pointer;
}

.divBotao {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

button.botaoDestroyMany:hover {
    background-color: var(--bottonRecuseSecondary);
    box-shadow: 0.1rem 0.1rem 1rem black;
    font-weight: 700;
}